html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    padding-top: 60px;
}

@media (min-width: 992px) {
    body {
        padding-top: 65px;
    }
}

#wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

#footer,
#push {
    height: 50px;
}


.bg-lightgray {
    background-color: #f7f7f7;
}

.light-box-shadow {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

/* Typography Utility Classes */
.text-smaller {
    font-size: 0.667em !important;
}

.text-small {
    font-size: 0.85em !important;
}

.text-base {
    font-size: 1em !important;
}

.text-medium {
    font-size: 1.25em !important;
}

.text-large {
    font-size: 1.5em !important;
}

.text-larger {
    font-size: 1.75em !important;
}

.text-xl {
    font-size: 2.25em !important;
}

.text-xxl {
    font-size: 3.375em !important;
}

.text-huge {
    font-size: 5.063em !important;
}

.text-shadow-dark {
    text-shadow: 2px 2px 10px #000000 !important;
}

.text-shadow-light {
    text-shadow: 1px 1px 10px #666666 !important;
}

.text-shadow-lightest {
    text-shadow: 1px 1px 4px #AAAAAA !important;
}

.show-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.show-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }