@model RankedChoiceBookClub.Models.Author

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Author</h2>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Html.Partial("_AuthorForm", Model)

