@model RankedChoiceBookClub.Models.BookClub

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Book Club</h2>
<div>
 @Html.ActionLink("Back to List", "Index")
</div>

@Html.Partial("_BookClubForm", Model)

