@model RankedChoiceBookClub.Models.BookVote

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="my-2">
    <a href="@Url.Action("Index", "BookVotes")">
        <i class="fas fa-arrow-left"></i>
        Book Vote Index
    </a>
</div>
<h2>Edit Book Vote</h2>
@Html.Partial("_BookVoteForm", Model)
