@model RankedChoiceBookClub.Models.Book

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="my-2">
    @Html.ActionLink("Back to List", "Index")
</div>
<h2>Edit @Model.Name</h2>
@Html.Partial("_BookForm", Model)

